*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p{
  font-size:1.6rem;
}
h1{
  font-size: 6rem;
}
.app{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.3);
  color:#fff;
}
.app:before{
  content: '';
  background: url('./Components/assets/sunset.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container{
  max-width: 500px;
  height: 500px;
  margin: auto;
  padding: 0.1rem;
  position: relative;
  top:10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top{
  width: 100%;
  margin:  1rem auto;
}
.app .description{
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(270deg);
}

.app .bottom{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255,0.2);
}
.all{
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
 .search{

  text-align: center;
  padding: 1rem;
}
input{
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  border: 1px solid rgba(222, 222, 121, 0.753);
   background:rgba(249, 249, 244, 0.781111)
}
::placeholder{
  color: #0c0b0b;
}

 .btn{
    margin: 13px;
    padding: 10px 30px;
    border-radius: 25px;
    border: 1px solid rgba(15, 1, 1, 0.8);
    cursor: pointer;
    background:white;
  
}
.btn:hover{
  background-color: rgba(211, 78, 11, 0.845);
}
 .app .errormsg{
  font-weight: bold;
  font-size:1.2rem;
  text-align: center;
  color: rgb(248, 241, 239);
}
